# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules/
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
**/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# yarn
.yarn

# Exclude contract development files from Next.js compilation
open_vote_contracts/js-scripts/
open_vote_contracts/src/
open_vote_contracts/lib/
open_vote_contracts/cache/
open_vote_contracts/broadcast/
